{% include 'header.html' %}
{% load static %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url({% static 'static/images/space.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>milet desu<br>
                <span id="typed-strings">
<!--                  <span>milet desu</span>-->
                  <span>a JP singer</span>

                </span>
                <span id="typed"></span>
              </h1>
              <em>{{ current_time }}</em>
              {% if request.user.is_authenticated %}
                <p>{{request.user}} 您已經登入囉</p>
              {% else %}
                <p>您尚未登入喔~<a href="/accounts/login/">登入</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'footer.html' %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="{% static 'static/main.70a66962.js' %}"></script>

</body>

</html>