{% include 'header.html' %}
{% load static %}
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="{% static 'supermarket/images/work001-01.jpg' %}" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">SuperMarket Discount</h1>
          </div>
          <p>We spend a lot of time on earning money, but do you know we even waste a lot if we don't know any discount? Let's see what we can do here:D</p>

          <blockquote>
            <p>"More efficient way to use your money!"</p>
            <small class="pull-right">YYL</small>
          </blockquote>
          <form action="" method="Post">
            {% csrf_token %}
              <input type="submit" value="search" style="float:right; margin-left: 5px">
              <input name="product" placeholder="Name of an item" style="float:right">
          </form>
          <table class="table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>SuperMarket</th>
                    <th>Product</th>
                    <th>Images</th>
                    <th>Discount</th>
                    <th>New Price</th>
                    <th>Old Price</th>
                    {% if request.user.is_authenticated %}
                    <th>Card</th>
                    <th>Cash Back</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if qs %}
                {% if request.user.is_authenticated %}
                    {% for kauf in qs %}
                    <tr>
                    {#   待辦：如何精簡一堆條件？How to reduce so many conditions?    #}
                    {#  skip the raw that include N/A, nur, 1/2 PREIS, PROBIERPREIS #}
                    {% if kauf.small_title == 'N/A' or '-' in kauf.small_title or '1/2 PREIS' in kauf.small_title or kauf.discount == 'N/A' or kauf.discount == '1/2 PREIS' or kauf.discount == 'PROBIERPREIS' or kauf.new_prive == 'nur' or kauf.new_prive == 'N/A' %}
                    {% else %}
                    {# 待辦：用randint把超市loop進來     #}
                        <td><input name="select" type=checkbox value="select"></td>
                        <td>SuperName</td>
                        <td>
                            <a href="{{ super.link }}" target="_blank">{{ kauf.small_title }}</a>
                        </td>
                        <td><img src="{% static 'supermarket/images/img.jpg' %}" style="width:32px"  alt=""/></td>

                        <td>{{ kauf.discount }}</td>
                        <td>{{ kauf.new_price }}</td>
                        <td>{{ kauf.old_price }}</td>
                   {# 待辦：透過超市核對discount cards % loop出去     #}
{#                        {% if request.user.is_authenticated %}#}
                        <td><p>cards</p></td>
                        <td><p>$back</p></td>
{#                        {% endif %}#}
                    </tr>
                    {% endif %}
                    {% endfor %}
{#                {% if request.user.is_authenticated %}#}
                {% else %}
                 {# |slice:":10" -> if not a member, only shows 10 items 加了之後就直接只顯示10項了！ 超酷XD #}
                    {% for kauf in qs|slice:":40" %}
                    <tr>
                        {% if kauf.small_title == 'N/A' or '-' in kauf.small_title or '1/2 PREIS' in kauf.small_title or kauf.discount == 'N/A' or kauf.discount == '1/2 PREIS' or kauf.discount == 'PROBIERPREIS' or kauf.new_prive == 'nur' or kauf.new_prive == 'N/A' %}
                        {% else %}
                        <td><input name="select" type=checkbox value="select"></td>
                        <td>SuperName</td>
                        <td>
                            <a href="{{ super.link }}" target="_blank">{{ kauf.small_title }}</a>
                        </td>
                        <td><img src="{% static 'supermarket/images/img.jpg' %}" style="width:32px"  alt=""/></td>
                        <td>{{ kauf.discount }}</td>
                        <td>{{ kauf.new_price }}</td>
                        <td>{{ kauf.old_price }}</td>

                    </tr>
                        {% endif %}
                    {% endfor %}
            </tbody>
                    <a href="/accounts/login/" title="" ><button>more products</button></a>
                {% endif %}
            {% endif %}
          </table>
        <br>
        </div>
      </div>


      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="{% static 'supermarket/images/work001-02.jpg' %}" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="{% static 'supermarket/images/work001-03.jpg' %}" class="img-responsive" alt="">
            <p>Menphis skyline</p>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <img src="{% static 'supermarket/images/work001-04.jpg' %}" class="img-responsive" alt="">
      </div>

    </div>
  </div>
</div>

{% include 'footer.html' %}

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
         navActivePage();
      });
    </script>
    <script type="text/javascript" src="{% static 'supermarket/main.70a66962.js' %}"></script>
</body>

</html>

<!--{#extends 代表繼承 base.html (剛剛的導覽列那些）#}-->
<!--{#接下來這些div就是bootstrap的一些classes，因為本篇不是bootstrap的文章，就不多做介紹了，之後以會再做bootstrap的簡易教學#}-->
<!--{#{%block body%} 的意思就是編輯剛剛我們 base.html裡面那個區塊（在裡面加東西）。後面記得要加 {%endblock%}#}-->
<!--{#{%for%}{%endfor%} 就是回圈 在裡面可以去從一個陣列單獨的一個一個東西抓出來。#}-->
<!--{#像這邊我們的例子就是要從 object_list 這裡抓東西 （這就是我們的文章列表）#}-->
<!--{#注意這邊 object_list 是固定的字眼，如果想要把它換成 posts之類的，要到views裡面設定 （可以查一下）#}-->
<!--{#這有點像 javascript 的 map 或是 forEach 那種概念#}-->
<!--{#之後我們就是呈現一張卡片，在標題的地方呈現 {{ post.title }} 他就會換成文章標題#}-->
<!--{#content一樣的道理#}-->
<!--{#而在 <a href=”/{{ post.id}}”> 這邊我們是要讓網址變成 href=”/1″ href=”/2″ 這樣子，讓我們連到 等一下的detail頁面#}-->