{% include 'header.html' %}
{% load static %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background: url({% static 'discount/images/index_page.jpg' %}) no-repeat center;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>We<br>
                <span id="typed-strings">
                  <span>Are The World</span>
                  <span>Share Our Love</span>
                </span>
                <span id="typed"></span>
              </h1>
              <em>{% now "jS F Y H:i" %}</em>
              {% if request.user.is_authenticated %}
                <p>{{request.user}} You have logged in</p>
              {% else %}
                <p>You haven't <a href="/registration/login/">login</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'footer.html' %}

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

<script type="text/javascript" src="{% static 'discount/main.70a66962.js' %}"></script>