{% include 'header.html' %}
{% load static %}
<br>
<br>
<br>
<div style="margin-left: 15%">
    <h3>{{request.user}} Info</h3>
    <div>
        <form action="mailto:test@cs.nthu.edu.tw" encType=text/plain method="post"></form>
                    {% csrf_token %}
                    {{ form.as_p }}
            <p>Email Address:<input name="email" size=12 maxlength=20 value="your email"> (we will send you the weekely discount)</p>
            <p>Phone Number：<input name="phone_number" type="" size=12 maxlength=20 value="your number"></p>
            <p>Change Password:</p>
                <input name="old_password" type="" size=12 maxlength=20 value="old password">
                <input name="new_password" type="" size=12 maxlength=20 value="new password">
                <input name="confirm_new_password" type="" size=12 maxlength=20 value="confirmed"></p>
            <p>Cards I have (multiple): </p><p>
                <input name="payback" type=checkbox value="payback" checked> Payback
                <input name="american_express" type=checkbox value="american_express" checked> American Express
                <input name="amazon" type=checkbox value="amazon" checked> Amazon Points
                <input name="vivid" type=checkbox value="vivid" checked> Vivid
                <input name="curve" type=checkbox value="curve" checked> Curve</p>
            <p><input type="submit" value="submit" method="post"> <input type="reset" value="reset" method=""></p>
        </form>
        <hr>
    </div>
</div>
<br>
<br>
<br>

{% include 'footer.html' %}

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
         navActivePage();
      });
    </script>
    <script type="text/javascript" src="{% static 'discount/main.70a66962.js' %}"></script>
</body>

</html>
